<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"> -->
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/materialize-css@0.99.0/dist/css/materialize.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@material-icons/font@1.0.0/css/all.css"> -->
    
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
    {% seo title=false %}
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="nav-wrapper">
          <div class="container">
            <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <div class="background"></div>
          <!-- 
            <a href="{{site.github_profile}}" target="_blank"><img class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png"></a>
            <span class="white-text name">{{site.user}}</span> -->
            <!-- <span class="white-text email">{{site.user_email}}</span> -->
          </div>
        </li>
        <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>首页</a></li>
        <!-- <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">description</i>Projects</a></li> -->
        <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>分类</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/list.html"><i class="material-icons">label</i>其他</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">label</i>Tags</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/feed.xml" target="_blank"><i class="material-icons">rss_feed</i>RSS</a></li>
        <li><div class="divider"></div></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">person</i>关于</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons">email</i>联系</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/链接"><i class="material-icons">email</i>链接</a></li>

        <li><div class="divider"></div></li>
        <script>
$(document).ready(function(){
  function get_add_url(){
    
    // 获取当前日期
var date = new Date();

// 获取当前月份
var nowMonth = date.getMonth() + 1;

// 获取当前是几号
var strDate = date.getDate();

// 添加分隔符“-”
var seperator = "-";

// 对月份进行处理，1-9月在前面添加一个“0”
if (nowMonth >= 1 && nowMonth <= 9) {
   nowMonth = "0" + nowMonth;
}

// 对月份进行处理，1-9号在前面添加一个“0”
if (strDate >= 0 && strDate <= 9) {
   strDate = "0" + strDate;
}

// 最后拼接字符串，得到一个格式为(yyyy-MM-dd)的日期
var nowDate = date.getFullYear() + seperator + nowMonth + seperator + strDate;
console.log(nowDate)
//           "%Y-%m-%d"
//           ?filename=newfile.py&value=PUT%20YOUR%20CODE%20HERE
          var filename=nowDate."-这里修改标题.md"
           var value = '---\n\
          layout: post\n\
          comments: 1\n\
          title:  "这是标题"\n\
          categories: Default\n\
          tags: 默认\n\
          ---\n\
          这里是内容';
          var res = encodeURI(value);
          var add_url='{{site.github.repository_url}}/new/master/_posts?filename='.name.'&value='.res
         return add_url
  }
  
  $("#add").attr("href",get_add_url());
});



         
  

       //  document.write('<li><a class="waves-effect" href="{{site.github.repository_url}}/new/master/_posts?filename='.name.'&value='.res.'"><i class="material-icons">edit</i>创建文章new</a></li>');
        
        </script>

        <li><a id="add" class="waves-effect" href="{{site.github.repository_url}}/new/master/_posts?filename=_posts/2020-06-01-修改标题.md&value=---%0Alayout:%20post%0Acomments:%201%0Atitle:%20%20这是标题%0Acategories:%20Default%0Atags:%20默认%0A---%0A这里是内容"><i class="material-icons">edit</i>创建文章</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/帮助"><i class="material-icons">edit</i>帮助</a></li>
        

      </ul>
    </header>
    <main>
